
@media only screen and (max-width: 1023px) {
    .banner-area {
        padding: 20px 0;
    }
    .banner-area .banner-field {
        padding: 50px 30px;
    }
    .footer-area .footer-info p {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-toggler{
        background-color:transparent;
        border:0;
    }
    .navbar-toggler:focus{
        box-shadow:none;
    }
    .navbar-toggler span{
        width:28px;
        height:2px;
        background:#fff;
        margin:5px 0;
        display:block;
    }
    .navbar-toggler span:first-child{
        width:20px;
    }
    .navbar-toggler span:last-child{
        width:24px;
    }
}

@media only screen and (max-width: 767px) {

}